<footer class="footer">
    <div class="container text-center">
        <a class="cc-facebook btn btn-link" href="https://www.facebook.com/benamar.samar/" target="_blank">
            <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.instagram.com/benamar.samar/" target="_blank">
            <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link" href="https://www.linkedin.com/in/samar-ben-amar/" target="_blank">
            <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link " href="https://github.com/samar2607" target="_blank">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link " href="https://medium.com/@samar.benamar" target="_blank">
            <i class="fa fa-medium fa-2x " aria-hidden="true"></i>
        </a>
       
    </div>
    <div class="text-center text-muted">
        <p>&copy; All rights reserved.</p>
    </div>
</footer>