<div class="section" id="experience" >
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="resume">
                    
                    <ul class="resume">
                        
                            
                            <div class="resume-item" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 resume-title">Internship - Java JEE Developer</div>
                                        <div class="h6 mt-0 title">SiFAST | FutureWithPast</div>
                                        <p >Develop a solution in JEE and JavaScript to automate the
                                            management of customer spaces within the Totipot platform which is
                                            used to provide low-code custom softwares.</p>
                                        <p >Designing a solution in Java consists of automatically generating
                                            configuration and parameter files in XML and TXT during the creation
                                            and duplication of spaces.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <div class="h5 mt-0 title">

                                            </div>
                                            
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                
                                                <li class="non_list">Web Application Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Scrum</li>
                                                        <li class="non_list">Docker</li>
                                                        <li class="non_list">GitLab</li>
                                                        <li class="non_list">Git</li>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">JEE</li>
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">PostgreSQL</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                         
                        
                            
                            <div class="resume-item" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 resume-title">Instructor</div>
                                        <div class="h6 mt-0 title">GoMyCode Academy </div>
                                        <p >Teach the digital marketing course. I was able to improved my public
                                            speaking and communication skills.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <div class="h5 mt-0 title"></div>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Digital Marketing Instructor</li>
                                                
                                            </ul>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                        
                            
                            <div class="resume-item" data-aos="fade-up">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 resume-title">Internship</div>
                                        <div class="h6 mt-0 title">SiFAST</div>
                                        <p >Create a guide to web development and SEO techniques.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <div class="h5 mt-0 title"></div>
                                            
                                                <li class="list">Technologies and Language:</li>
                                                <ul>
                                                    <div class="row">
                                    
                                                        <div class="col-md-6">
                                                            <li class="non_list">HTML5</li>
                                                            <li class="non_list">CSS3</li>
                                                            <li class="non_list">JavaScript</li>
                                                            <li class="non_list">Google Analytics</li>
                                                        </div>
                                                    </div>   
                                                </ul>
                                                
                                            
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                    </ul>
                </div>
                
    </div>
</div>
        