<div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="zoom-in" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">About Me</div>
                            <p align="justify">From a young age, I have always had a sense of motivation and passion that has pushed me towards my goals and dreams. By exploring unique opportunities, learning new skills and meeting new people, I bring real value to every experience in my life, both personal and professional.</p>
                            <p align="justify">Currently, I am a third year student in Computer Science at the National Engineering School of Tunis (ENIT) and I am looking for an end-of-studies internship for 4 to 6 months, starting in February.</p>
                            <p align="justify">For any additional information, please keep exploring my on-line portfolio or reach me out directly.</p>
                    </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">Basic Information</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Date of Birth:</strong>
                            </div>
                            <div class="col-sm-8">July 26, 1999.</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Email:</strong>
                            </div>
                            <div class="col-sm-8">samar.benamar@etudiant-enit.utm.tn</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Mobile No:</strong>
                            </div>
                            <div class="col-sm-8">(+216) 26 910 458</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Address:</strong>
                            </div>
                            <div class="col-sm-8">Manar 1, Tunis, Tunisia.</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Language:</strong>
                            </div>
                            <div class="col-sm-8">Arabic Native, English B2 (TOIEC), French B2 (DELF).</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

